body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}


.nuevoDisenio {
  color:black;
}

.container p {
  font-family: 'Courier New', Courier, monospace;
}