body {
  
  color: #333;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  margin: 0 auto;
  padding:0;
  width: 75%;
  border: 3px solid darkblue;
  border-radius: 25px 25px 0px 0px;
}


.nuevoDisenio {
  color:black;
}

.container p {
  font-family: 'Courier New', Courier, monospace;
}

.cabecera {
  border: 5px solid grey;
  border-radius:   25px;
  background-color: #33A;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
  color:white;
  font-weight: bold;
  padding: 0px;
  margin:0;
}